{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ecolabel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ecolabel.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ ecolabel.source }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ ecolabel.alt }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ ecolabel.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecolabel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ecolabel_edit', { 'id': ecolabel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
