{% extends '@Corinne/layout.html.twig' %}


{% block body %}
    <div class="container">


            {% for objet in objets %}
            <div class="row">
                <div class="col s12 offset-m3 m6 offset-l3 l6">

                        <div class="card small">
                            <div class="card-image">
                                <img style="max-width: 100%" src="{{ asset('bundles/corinne/images/')}}{{ objet.source }}" alt="{{ objet.alt }}" class="responsive-img materialboxed">
                            </div>
                            <div class="card-content">
                                <p class="center"> {{ objet.definition }}</p>
                            </div>
                        </div>
                </div>
            </div>
            {% endfor %}



    </div>
    {#/../../../../web/bundles#}
{% endblock %}

{% block js %}

    <script type="text/javascript" src="{{ asset('bundles/corinne/js/masonry_grid/modernizr.custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corinne/js/masonry_grid/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corinne/js/masonry_grid/js_imagesloaded.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corinne/js/masonry_grid/js_classie.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/corinne/js/masonry_grid/AnimeOnScroll.js') }}"></script>

    <script>
        // ********************************************************************
        // *                       AnimOnScroll Masonry Grid
        // ********************************************************************

        new AnimOnScroll( document.getElementById( 'grid' ), {
            minDuration : 0.4,
            maxDuration : 0.7,
            viewportFactor : 0.2
        } );

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock %}