{% extends '@Corinne/layout.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">
        {% for categorie in categories %}
        <div class="col s12 m6 l6 grid margin-grid">
            <figure class="effect-sarah" >
                <img src="{{ asset('bundles/corinne/images/collier3.jpg') }}" alt="img13" class="img-hover"/>
                <figcaption>
                    <h2><span> {{ categorie.nomcat }}</span> </h2>
                    <ul>
                        {% for souscategorie in categorie.souscategorie %}
                            <li>
                                <a href="#" class="lien">  {{ souscategorie.nomsouscat }} </a>

                            </li>
                        {%  endfor %}
                    </ul>
                    <p>

                        {#<a href="" class="lien">Colliers</a><br>#}
                        {#<a href="" class="lien">Bracelets</a><br>#}
                        {#<a href="" class="lien">Boucles d'oreilles</a><br>#}
                        {#<a href="" class="lien">Bagues</a><br>#}
                        {#<a href="" class="lien">Broches</a><br>#}
                        {#<a href="" class="lien">Accessoires</a><br>#}
                        {#<a href="" class="lien">Piercings</a>#}

                    </p>
                </figcaption>
            </figure>
        </div>
        {#<div class="col s12 m6 l6 grid margin-grid">#}
            {#<figure class="effect-sarah">#}
                {#<img src="{{ asset('bundles/corinne/images/vase1.jpg') }}" alt="img20" class="img-hover"/>#}
                {#<figcaption>#}
                    {#<h2><span>Art de la table</span></h2>#}
                    {#<p class="lien"><a href="#" class="lien">Colliers</a><br>#}
                {#</figcaption>#}
            {#</figure>#}
        {#</div>#}
        {% endfor %}
    </div>

    {#<div class="row">#}
        {#<div class="col s12 m6 l6 grid margin-grid">#}
            {#<figure class="effect-sarah" >#}
                {#<img src="{{ asset('bundles/corinne/images/COEURfondblanc.jpg') }}" alt="img13" class="img-hover"/>#}
                {#<figcaption>#}
                    {#<h2><span>Dans le jardin</span></h2>#}
                    {#<p class="lien"><a href=""class="lien">Colliers</a><br>#}
                {#</figcaption>#}
            {#</figure>#}
        {#</div>#}
        {#<div class="col s12 m6 l6 grid margin-grid">#}
            {#<figure class="effect-sarah" >#}
                {#<img src="{{ asset('bundles/corinne/images/bracelet.jpg') }}" alt="img20" class="img-hover"/>#}
                {#<figcaption>#}
                    {#<h2><span>Verre recyclé</span></h2>#}
                    {#<p class="lien"><a href=""class="lien">Colliers</a><br>#}
                {#</figcaption>#}
            {#</figure>#}
        {#</div>#}
    {#</div>#}
</div>

{% endblock %}