{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card teal center">
                    <h1 class="white-text">Contacts :</h1>
                </div>
            </div>
        </div>


        <div class="row">
            <form action="{{ path('contact_edit', { 'id': contact.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <div class="col s12 m6 l3">
                    <h5>Nom</h5>
                    <input type="text" name="nom" value="{{ contact.nom }}">
                    <h5>Prenom</h5>
                    <input type="text" name="prenom" value="{{ contact.prenom }}">
                </div>
                <div class="col s12 m6 l3">
                    <h5>Téléphone</h5>
                    </di<input type="text" name="tel" value="{{ contact.tel }}">
                    <h5>E-mail</h5>
                    <input type="text" name="mail" value="{{ contact.mail }}">
                <div class="col s12 m6 l3 btn-heigth">
                    <input class="waves-effect waves-light btn" style="width:220px" type="submit" value="Valider" />
                </div>
            </form>
        </div>

        <div class="row center">
            <div class="col s12 m6 l6">
                <a href="{{ path('contact_index') }}" class="waves-effect waves-light btn" style="width:220px">Retour a la liste</a>
            </div>
            <div class="col s12 m6 l6">
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="waves-effect waves-light btn" style="width:220px">
                {{ form_end(delete_form) }}
            </div>
        </div>

    </div>

{% endblock %}
