{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}
























<div class="container">
    <div class="card teal center">
    <h1 class="white-text">Liste de Contact :</h1>
    </div>
    <table class="bordered highlight centered responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>
                <th>Tel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.tel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contact_show', { 'id': contact.id }) }}" class="waves-effect waves-light btn" style="width:100px">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class="waves-effect waves-light btn" style="width:100px">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('contact_new') }}" class="waves-effect waves-light btn" style="width:310px">Créer un nouveau contact</a>#}
        {#</li>#}
    {#</ul>#}
    <ul>
        <li>
            <a href="{{ path('menu_categorie') }}" class="waves-effect waves-light btn" style="width:310px">Retour au menu</a>
        </li>
    </ul>
</div>
{% endblock %}
