{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card teal center">
                    <h1 class="white-text">Presse :</h1>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l6">
                <a href="{{ path('presse_new') }}" class="waves-effect waves-light btn" style="width:280px">Nouvelle presse</a>
            </div>
            <div class="col s12 m6 l6">
                <a href="{{ path('menu_categorie') }}" class="waves-effect waves-light btn" style="width:280px">Retour
                    au menu</a>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l4">
                <p>Numéro de presse</p>
            </div>
            <div class="col s12 m6 l4">
                <p>Coupure de presse</p>
            </div>
            <div class="col s12 m6 l4">
            </div>
        </div>

        {% for presse in presses %}
            <a href="{{ path('presse_edit', { 'id': presse.id }) }}">
                <div class="row center spacing-rows">
                    <div class="e">
                        <div class="col s12 m6 l4 f">
                            {{ presse.id }}
                        </div>
                        <div class="col s12 m6 l4 f">
                            <img src="{{ asset('uploads/img-presse/')}}{{ presse.source }}" class="img-size">
                        </div>
                    </div>
                    <div class="col s12 m6 l4">
                        {#<form action="{{ path('categorie_delete', { 'id': categorie.id }) }}" method="post">#}
                        {#<input type="hidden" name="_method" value="DELETE" />#}
                        {#{{ form_widget(delete_form) }}#}
                        {#<a type="submit"><img src="{{ asset('bundles/corinne/images/poubelle.png') }}" class="delete"></a>#}
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}
