{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}
<div class="container">
    <div class="card teal center">
    <h1 class="white-text">Liste Presse :</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Alt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presse in presses %}
            <tr>
                <td><a href="{{ path('presse_show', { 'id': presse.id }) }}">{{ presse.id }}</a></td>
                <td>{{ presse.source }}</td>
                <td>{{ presse.alt }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presse_show', { 'id': presse.id }) }}" class="waves-effect waves-light btn" style="width:100px">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('presse_edit', { 'id': presse.id }) }}" class="waves-effect waves-light btn" style="width:100px">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presse_new') }}" class="waves-effect waves-light btn" style="width:280px">Ajouter une presse</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="{{ path('menu_categorie') }}" class="waves-effect waves-light btn" style="width:280px">Retour
                au menu</a>
        </li>
    </ul>
</div>
{% endblock %}
