{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presse.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ presse.source }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ presse.alt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('presse_edit', { 'id': presse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
