{% extends 'base.html.twig' %}

{% block header %}
    <header>
        <div class="container">
            <nav id="menu-index" class="transparent">
                <div class="nav-wrapper">
                    <div class="row valign-wrapper">
                        <div class="valign col s12 offset-m1 m3 right">
                            <a href="{{ path('corinne_homepage') }}"><img src="{{ asset('bundles/corinne/images/logo.png') }}" alt="CorinneCreation" class="hide-on-med-and-down img-logo "></a>
                        </div>
                        <div class="valign col s12 m8" id="menu-index-text">
                            <ul id="nav-mobile" class="left hide-on-med-and-down">
                                <div class="row">
                                    <li class="col s12 m12">
                                        <a href="{{ path('corinne_parcour') }}"><span id="idMonHistoire" class="navTextCC">Mon histoire</span></a>
                                    </li>
                                </div>
                                <div class="row">
                                    <li class="col s12  offset-m3">
                                        <a href="{{ path('corinne_creation') }}"><span id="idMesCreations" class="navTextCC">Mes créations</span></a>
                                    </li>
                                </div>
                                <div class="row">
                                    <li class="col s12 offset-m6">
                                        <a href="{{ path('corinne_presse') }}"><span  class="navTextCC">Coin presse</span></a>
                                    </li>
                                </div>

                                <div class="row">
                                    <li class="col s12 offset-m3">
                                        <a href="{{ path('corinne_ecolabel') }}"><span id="idEcoLabel" class="navTextCC">Eco-label</span></a>
                                    </li>
                                </div>
                                <div class="row">
                                    <li class="col s12 m12 offset-m1">
                                        <a href="{{ path('corinne_contact') }}"><span id="idContact" class="navTextCC">Contact</span></a>
                                    </li>
                                </div>
                            </ul>
                        </div>

                        <ul class="side-nav" id="mobile-demo">
                            <li> <a href="parcours.php"         class="center-align navTextMobileCC amber-text">MON HISTOIRE</a></li>
                            <li> <a href="mes_creations.php"    class="center-align  navTextMobileCC amber-text">MES CREATIONS</a> </li>
                            <li> <a href="#"                    class="center-align  navTextMobileCC amber-text">COIN PRESSE</a>  </li>
                            <li> <a href="eco_label.php"  class="center-align  navTextMobileCC amber-text">ECO-LABEL</a> </li>
                            <li> <a href="contact.php"  class="center-align  navTextMobileCC amber-text">CONTACT</a> </li>
                        </ul>

                    </div>
                    <div  class="row">

                        <div class="col s6">
                            <a href="index.php"><img src="{{ asset('bundles/corinne/images/logo.png') }}" alt="CorinneCreation" class="hide-on-large-only img-logo left"></a>
                        </div>

                        <div class="col offset-s4 s2">
                            <a href="#" data-activates="mobile-demo" class="button-collapse  amber-text"><i class="material-icons">menu</i></a>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div id="slap_fb_slider" style="display: none">
        <script type="text/javascript" src="http://surlapage.fr/script/facebook-slider?
                      fb_url=https://www.facebook.com/Corinne-Creations-cr%C3%A9ation-dobjets-et-bijoux-en-verre-artisan-verrier-657167984349510/&amp;fb_width=70&amp;fb_height=70&amp;fb_faces=true&amp;fb_stream=true&amp;fb_header=true&amp;fb_border=true&amp;fb_theme=light&amp;speed=SLOW&amp;fb_pic=sign&amp;position=LEFT">
        </script>
        <a href="http://rigolotes.fr" title="blagues caramba">blagues caramba</a>
    </div>

{% endblock %}


{% block footer %}
    <footer>
        <div class="row">
            <div class="col l12 s12">
                <p class="text-copyright"><a href="{{ path('corinne_access') }}"> ©</a> Copyright all rights reserved - design by <a href="{{ asset('http://www.wildcodeschool.fr') }}">Wild Code School.</a></p>
            </div>
        </div>
    </footer>
{% endblock %}

