{% extends '@Corinne/admin/index.html.twig' %}


{% block body %}
    <div class="container">
        <div class="card teal center">
            <h1 class="white-text">Editer une categorie :</h1>
        </div>

        {{ form_start(edit_form) }}
        <center>
            <div class="reducto">
                <div class="row left-align">
                    <div class="col s12">
                    <label>Nom de la catégorie</label>
                    {{ form_widget(edit_form.nomcat) }}
                    {{ form_errors(edit_form.nomcat) }}
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s12">
                    <label>Image de la categorie</label>
                    {{ form_widget(edit_form.source) }}
                    {{ form_errors(edit_form.source) }}
                    </div>
                </div>
                <div class="row left-align">
                    <div class="col s12">
                    <label>Nom de l'image</label>
                    {{ form_widget(edit_form.alt) }}
                    {{ form_errors(edit_form.alt) }}
                    </div>
                </div>
            </div>
        </center>


        <div class="row center">
            <ul>
                <li>
                    <input class="waves-effect waves-light btn" type="submit" value="Valider" />
                    <a href="{{ path('categorie_index') }}" class="waves-effect waves-light btn">Retour a la Liste</a>
                </li>
            </ul>
        </div>

        {{ form_end(edit_form) }}

    </div>
{% endblock %}
