{% extends '@Corinne/admin/index.html.twig' %}


{% block body %}
    <div class="container">
        <div class="card teal center">
        <h1 class="white-text">Categorie creation :</h1>
        </div>
        {{ form_start(form) }}

                <label>Nom de la catégorie</label>
                {{ form_widget(form.nomcat) }}
                {{ form_errors(form.nomcat) }}

            <input class="waves-effect waves-light btn" style="width:220px" type="submit" value="Valider" />

        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('categorie_index') }}" class="waves-effect waves-light btn" style="width:220px">Retour a la Liste</a>
            </li>
        </ul>
    </div>
{% endblock %}
