{% extends 'base.html.twig' %}

{% block body %}
    <h1>SousCategorie list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomsouscat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousCategorie in sousCategories %}
            <tr>
                <td><a href="{{ path('souscategorie_show', { 'id': sousCategorie.id }) }}">{{ sousCategorie.id }}</a></td>
                <td>{{ sousCategorie.nomsouscat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('souscategorie_show', { 'id': sousCategorie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('souscategorie_edit', { 'id': sousCategorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscategorie_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
