{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card teal center">
                    <h1 class="white-text">Sous Categories :</h1>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l6">
                <a href="{{ path('souscategorie_new') }}" class="waves-effect waves-light btn" style="width:280px">Nouvelle sous-catégorie</a>
            </div>
            <div class="col s12 m6 l6">
                <a href="{{ path('menu_categorie') }}" class="waves-effect waves-light btn" style="width:280px">Retour
                    au menu</a>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l3">
            </div>
            <div class="col s12 m6 l3">
                <p>Numéro de sous-catégorie</p>
            </div>
            <div class="col s12 m6 l3">
                <p>Sous-catégorie</p>
            </div>
            <div class="col s12 m6 l3">
            </div>
        </div>

        {% for sousCategorie in sousCategories %}
            <a href="{{ path('souscategorie_edit', { 'id': sousCategorie.id }) }}">
                <div class="row center">
                    <div class="col s12 m6 l3">
                    </div>
                    <div class="e">
                        <div class="col s12 m6 l3 f">
                            {{ sousCategorie.id }}
                        </div>
                        <div class="col s12 m6 l3 f">
                            {{ sousCategorie.nomsouscat }}
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        {#<form action="{{ path('categorie_delete', { 'id': categorie.id }) }}" method="post">#}
                            {#<input type="hidden" name="_method" value="DELETE" />#}
                            {#{{ form_widget(delete_form) }}#}
                            {#<a type="submit"><img src="{{ asset('bundles/corinne/images/poubelle.png') }}" class="delete"></a>#}
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}
