{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}
<div class="container">
    <div class="card teal center">
    <h1 class="white-text">SousCategorie</h1>
    </div>
    <table class="bordered  highlight center responsive-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousCategorie.id }}</td>
            </tr>
            <tr>
                <th>Nomsouscat</th>
                <td>{{ sousCategorie.nomsouscat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('souscategorie_index') }}" class="waves-effect waves-light btn" style="width:220px">Retour a la Liste</a>
        </li>
        <li>
            <a href="{{ path('souscategorie_edit', { 'id': sousCategorie.id }) }}" class="waves-effect waves-light btn" style="width:220px">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn" type="submit" value="Supprimer" style="width:220px">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
