{% extends '@Corinne/admin/index.html.twig' %}


{% block body %}

    <div class="container">


        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card teal center">
                    <h1 class="white-text">Categories :</h1>
                </div>
            </div>
        </div>

        <table>
            <thead> <!-- En-tête du tableau -->
            <tr>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody> <!-- Corps du tableau -->
            {% for ecolabel in ecolabels %}
                <tr>
                    <td>{{ ecolabel.texte }}</td>
                    <td>
                        <img src="{{ asset('uploads/img-ecolabel/')}}{{ ecolabel.source }}"  class="img-eco">
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('ecolabel_edit', { 'id': ecolabel.id }) }}">Editer</a>
                            </li>
                            <li>
                                <a href="{{ path('ecolabel_delete', { 'id': ecolabel.id }) }}">Supprimer</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
