{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}
<div class="container">
    <div class="card teal center">
    <h1 class="white-text">Ecolabel list :</h1>
    </div>
    <table class="bordered highlight centered responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Alt</th>
                <th>Texte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ecolabel in ecolabels %}
            <tr>
                <td><a href="{{ path('ecolabel_show', { 'id': ecolabel.id }) }}">{{ ecolabel.id }}</a></td>
                <td>{{ ecolabel.source }}</td>
                <td>{{ ecolabel.alt }}</td>
                <td>{{ ecolabel.texte }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ecolabel_show', { 'id': ecolabel.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ecolabel_edit', { 'id': ecolabel.id }) }}" class="waves-effect waves-light btn" style="width:100px">editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ecolabel_new') }}">Nouvelle entrée</a>
        </li>
    </ul>
</div>
{% endblock %}
