{% extends '@Corinne/layout.html.twig' %}

{% block body %}
    <!--Enluminure -->
    <section>
        <div class="row center">
            <div class="col s12  m12 l12">
                <img src="{{ asset('bundles/corinne/images/element or 6 copie.png') }}"  class="responsive-img" alt="Enluminure coeur">
            </div>
            <div class="col s2 m6 l1 "></div>
        </div>
    </section>

    <div class="row ">
        <div class="carousel hide-on-small-only" id="carousel-index">

            {% for objet in objets %}
            <a class="carousel-item" href="#one!"><img  class="responsive-img" src="{{ asset('uploads/pictures/')}}{{ objet.source }}" alt="anneau de feu"/></a>
            {#<a class="carousel-item" href="#two!"><img  class="responsive-img" src="{{ asset('uploads/img-slider/collier2.jpg') }}" alt="tiffany"/></a>#}
            {#<a class="carousel-item" href="#three!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/collier3.jpg') }}" alt="croix"/></a>#}
            {#<a class="carousel-item" href="#four!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/bague.jpg') }}" alt="fleur verre fusonné"/></a>#}
            {#<a class="carousel-item" href="#five!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/bracelet.jpg') }}" alt="la tendresse"/> </a>#}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="carousel carousel-slider  hide-on-med-and-up" >
            {% for objet in objets %}
                <a class="carousel-item" href="#one!"><img  class="responsive-img" src="{{ asset('uploads/pictures/')}}{{ objet.source }}" alt="anneau de feu"/></a>
                {#<a class="carousel-item" href="#two!"><img  class="responsive-img" src="{{ asset('uploads/img-slider/collier2.jpg') }}" alt="tiffany"/></a>#}
                {#<a class="carousel-item" href="#three!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/collier3.jpg') }}" alt="croix"/></a>#}
                {#<a class="carousel-item" href="#four!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/bague.jpg') }}" alt="fleur verre fusonné"/></a>#}
                {#<a class="carousel-item" href="#five!"><img  class="responsive-img"  src="{{ asset('uploads/img-slider/bracelet.jpg') }}" alt="la tendresse"/> </a>#}
            {% endfor %}


            {#<a class="carousel-item" href="#un!"> <img  class="responsive-img mobile-img"  src="{{ asset('uploads/img-slider/collier1.jpg') }}" alt="fleur verre fusonné"/>   </a>#}
            {#<a class="carousel-item" href="#deux!">  <img  class="responsive-img mobile-img"  src="{{ asset('uploads/img-slider/collier2.jpg') }}" alt="la tendresse"/> </a>#}
            {#<a class="carousel-item" href="#trois!">  <img  class="responsive-img mobile-img"  src="{{ asset('uploads/img-slider/bracelet.jpg') }}" alt="la tendresse"/> </a>#}
            {#<a class="carousel-item" href="#quatre!">  <img  class="responsive-img mobile-img"  src="{{ asset('uploads/img-slider/bague.jpg') }}" alt="la tendresse"/> </a>#}
        </div>
    </div>

    <!--Enluminure droit-->
    <section>
        <div class="row center">
            <div class="col s12  m12 l12">
                <img src="{{ asset('bundles/corinne/images/element or 6 copie.png') }}"  class="responsive-img" alt="Enluminure coeur">
            </div>
            <div class="col s2 m6 l1 "></div>
        </div>
    </section>
    <br><br>
    <main role="main">

        <!--Enluminure Coeur-->
        <section>
            <div class="row center">
                <div class="col s12  m12 l12">
                    <img src="{{ asset('bundles/corinne/images/Enluminure-COEURpng.png') }}"  class="responsive-img" alt="Enluminure coeur">
                </div>
                <div class="col s2 m6 l1 "></div>
            </div>
        </section>

        <!--Collections-->
        <section>
            <div class="container">
                <div class="row">
                    <!--partie écran large et tablette-->
                    <div class="col s12 m12 l12  ">
                        <div class="card ju-horizontal horizontal hide-on-small-only">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h4 class="header center amber-text">Mes évènements</h4>
                                    <p class="p-padding amber-text">
                                        Dans cette rubrique,<br>
                                        vous trouverez tous les<br>
                                        évènements dans lesquels<br>
                                        je serais présente.
                                    </p>
                                </div>

                                <div class="card-action center" id="a-action">
                                    <a href="{{ path('corinne_event') }}"><h5>Venir à mes évènements</h5></a>
                                </div>
                            </div>
                            <div class="card-image" id="card-image-collection-height">
                                <a href="{{ path('corinne_event') }}">
                                    <img src="{{ asset('bundles/corinne/images/collection.jpg') }}" class="image-height" alt="collection.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--partie pour Mobile-->
                    <div class="row hide-on-med-and-up">
                        <div class="card-image" id="">
                            <a href="{{ path('corinne_event') }}"><img src="{{ asset('bundles/corinne/images/collection.jpg') }}" alt="events" class="responsive-img"></a>
                        </div>
                        <h4 class="center amber-text">Mes évènements</h4>
                        <p class="amber-text center">
                            Dans cette rubrique,<br>
                            vous trouverez tous les<br>
                            évènements dans lesquels<br>
                            je serais présente.
                        </p>
                        <!--saut de ligne pour mobile-->
                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row">
                    <!--partie écran large et tablette-->
                    <div class="col s12 m12 l12  ">

                        <div class="card ju-horizontal horizontal hide-on-small-only">
                            <div class="card-image" id="card-image-collection-height">
                                <a href="{{ path('corinne_atelier') }}">
                                    <img src="{{ asset('bundles/corinne/images/atelier1.JPG') }}" class="image-height" alt="collection.jpg">
                                </a>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h4 class="header center amber-text">Mon atelier</h4>
                                    <p class="p-padding amber-text">Voici mon atelier,<br>
                                        là ou la magie opère<br>
                                        et d'ou sortent de mon<br>
                                        imagination toutes les créations.
                                    </p>
                                </div>

                                <div class=" card-action center" id="a-action">
                                    <a href="{{ path('corinne_atelier') }}"><h5 class="a-action">Mon atelier</h5></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--partie pour mobile-->
                    <div class="row hide-on-med-and-up">
                        <div class="card-image" id="">
                            <a href="{{ path('corinne_atelier') }}"><img src="{{ asset('bundles/corinne/images/atelier1.JPG') }}" class="responsive-img" alt="atelier1"></a>
                            <h4 class="center amber-text">Mon atelier</h4>
                            <p class="amber-text center">Voici mon atelier,<br>
                                là ou la magie opère<br>
                                et d'ou sortent de mon<br>
                                imagination toutes les créations.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!--Enluminure Coeur-->
    <section>
        <div class="row center">
            <div class="col s12  m12 l12">
                <img src="{{ asset('bundles/corinne/images/element or 2.png') }}"  class="responsive-img" alt="Enluminure coeur">
            </div>
            <div class="col s2 m6 l1 "></div>
        </div>
    </section>

{% endblock %}
