{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card teal center">
                    <h1 class="white-text">Oeuvres :</h1>
                </div>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l6">
                <a href="{{ path('objet_new') }}" class="waves-effect waves-light btn" style="width:280px">Nouvel oeuvre</a>
            </div>
            <div class="col s12 m6 l6">
                <a href="{{ path('menu_categorie') }}" class="waves-effect waves-light btn" style="width:280px">Retour
                    au menu</a>
            </div>
        </div>

        <div class="row center">
            <div class="col s12 m6 l2">
                <p>Numéro de l'oeuvre</p>
            </div>
            <div class="col s12 m6 l2">
                <p>Image</p>
            </div>
            <div class="col s12 m6 l2">
                <p>nom de l'image</p>
            </div>
            <div class="col s12 m6 l2">
                <p>Définition</p>
            </div>
            <div class="col s12 m6 l2">
                <p>ajout au carousel</p>
            </div>
            <div class="col s12 m6 l2">
            </div>
        </div>

        {% for objet in objets %}
            <div class="row center">
                <a href="{{ path('objet_edit', { 'id': objet.id }) }}">
                    <div class="e">
                        <div class="col s12 m6 l2 f">
                            {{ objet.id }}
                        </div>
                        <div class="col s12 m6 l2 f">
                            {{ objet.source }}
                        </div>
                        <div class="col s12 m6 l2 f">
                            {{ objet.alt }}
                        </div>
                        <div class="col s12 m6 l2 f">
                            {{ objet.definition }}
                        </div>
                        <div class="col s12 m6 l2 f">
                            {% if objet.slider %}Yes{% else %}No{% endif %}
                        </div>
                    </div>
                </a>
                <div class="col s12 m6 l2">
                    {#<form action="{{ path('categorie_delete', { 'id': categorie.id }) }}" method="post">#}
                    {#<input type="hidden" name="_method" value="DELETE" />#}
                    {#{{ form_widget(delete_form) }}#}
                    {#<a type="submit"><img src="{{ asset('bundles/corinne/images/poubelle.png') }}" class="delete"></a>#}
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
