{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objet list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Alt</th>
                <th>Definition</th>
                <th>Slider</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td><a href="{{ path('objet_show', { 'id': objet.id }) }}">{{ objet.id }}</a></td>
                <td>{{ objet.source }}</td>
                <td>{{ objet.alt }}</td>
                <td>{{ objet.definition }}</td>
                <td>{% if objet.slider %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objet_show', { 'id': objet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objet_edit', { 'id': objet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objet_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
