{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container center">
        <div class="card teal center">
            <h1 class="white-text">Ajouter une oeuvre :</h1>
        </div>

        {{ form_start(form) }}
        <div>
            <label>Image</label>
            {{ form_widget(form.sousCateg) }}
            {{ form_errors(form.sousCateg) }}
        </div>
        <div>
        <div>
            <label>Image</label>
            {{ form_widget(form.source) }}
            {{ form_errors(form.source) }}
        </div>
        <div>
            <label>Nom de l'image</label>
            {{ form_widget(form.alt) }}
            {{ form_errors(form.alt) }}
        </div>
        <div>
            <label>Alt</label>
            {{ form_widget(form.definition) }}
            {{ form_errors(form.definition) }}
        </div>
        <div>
            <label>Ajouter au carousel</label>

        </div>
        <div class="row center">
            <ul>
                <li>
                    <input class="waves-effect waves-light btn" type="submit" value="Valider" />
                    <a href="{{ path('objet_index') }}" class="waves-effect waves-light btn">Retour a la Liste</a>
                </li>
            </ul>
        </div>

        {{ form_end(form) }}

    </div>






{#<div class="container">#}
    {#<div class="card teal center">#}
    {#<h1 class="white-text">Création d'oeuvre:</h1>#}
    {#</div>#}
    {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#<input class="waves-effect waves-light btn" style="width:220px" type="submit" value="Valider" />#}
    {#{{ form_end(form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('objet_index') }}" class="waves-effect waves-light btn" style="width:220px">Retour a la Liste</a>#}
        {#</li>#}
    {#</ul>#}
{#</div>#}
{% endblock %}
