{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}

    <div class="container center">
        <div class="card teal center">
            <h1 class="white-text">Ajouter une oeuvre :</h1>
        </div>

        {{ form_start(form) }}
        <center>
        <div class="reducto">
            <div class="row left-align">
                <div class="col s12">
                    <label><h6>Sous catégorie</h6></label>
                    {{ form_widget(form.sousCateg) }}
                    {{ form_errors(form.sousCateg) }}
                </div>
            </div>
            <div class="row left-align">
                <div class="col s12">
                    <label><h6>Image</h6></label>
                    {{ form_widget(form.source) }}
                    {{ form_errors(form.source) }}
                </div>
            </div>
            <div class="row left-align">
                <div class="col s12">
                    <label><h6>Nom de l'image</h6></label>
                    {{ form_widget(form.alt) }}
                    {{ form_errors(form.alt) }}
                </div>
            </div>
            <div class="row left-align">
                <div class="col s12">
                    <label><h6>Description</h6></label>
                    {{ form_widget(form.definition) }}
                    {{ form_errors(form.definition) }}
                </div>
            </div>
            <div class="row left-align">
                <div class="col s12">
                    {{ form_widget(form.slider) }}
                    <label><h6>Ajouter au slider</h6></label>
                    {{ form_errors(form.slider) }}
                </div>
            </div>

        </div>
        </center>

        <div class="row center">
            <ul>
                <li>
                    <input class="waves-effect waves-light btn" type="submit" value="Valider" />
                    <a href="{{ path('objet_index') }}" class="waves-effect waves-light btn">Retour a la Liste</a>
                </li>
            </ul>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
