{% extends '@Corinne/admin/index.html.twig' %}

{% block body %}
<div class="container">
    <div class="card teal center">
    <h1 class="white-text">Vu des Oeuvres :</h1>
    </div>
    <table class="bordered  highlight center responsive-table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objet.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ objet.source }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ objet.alt }}</td>
            </tr>
            <tr>
                <th>Definition</th>
                <td>{{ objet.definition }}</td>
            </tr>
            <tr>
                <th>Slider</th>
                <td>{% if objet.slider %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objet_index') }}" class="waves-effect waves-light btn" style="width:220px">Retour a la liste</a>
        </li>
        <li>
            <a href="{{ path('objet_edit', { 'id': objet.id }) }}" class="waves-effect waves-light btn" style="width:220px">Editer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="waves-effect waves-light btn" type="submit" value="Supprimer" style="width:220px">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
